/*RobotoCondensed-Bold;*/
@font-face {
    font-family: "RobotoCondensed-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}

/*RobotoCondensed-Light;*/
@font-face {
    font-family: "RobotoCondensed-Light";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

/*RobotoCondensed-Regular*/
@font-face {
    font-family: "RobotoCondensed-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;
    margin: 10px;

    background-image: url("../media/logo.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

header h2 {
    font-family: RobotoCondensed-Regular;
    font-size: 20px;
}

main h1 {
    font-family: RobotoCondensed-Bold;
    font-size: 35px;
    margin: -90px 0px 50px 0px;
}

form {
    display: flex;
    flex-direction: column;
    font-family: RobotoCondensed-Regular;
}

button {
    font-weight: bold;
    width: 300px;
    height: 40px;
}

#ready,
#magic_start {
    text-align: center;
    font-family: RobotoCondensed-Light;
    font-size: 14px;
    margin: 15px 0px;
}

#account_already,
#register_now {
    text-decoration: underline;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}

form input {
    margin-bottom: 10px;
    height: 20px;

}


footer {
    display: flex;
    font-family: RobotoCondensed-Regular;
    font-size: 15px;
    margin: 0px 15px;
    justify-content: center;
}