@font-face {
    font-family: RobotoCondensed-Bold;
    src: url("../fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
    font-family: RobotoCondensed-Light;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

@font-face {
    font-family: RobotoCondensed-Regular;
    src: url("../fonts/RobotoCondensed-Regular.ttf");
}

* {
    margin: 0;
}

body {
    background-color: rgb(141, 231, 205);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: flex-end;
    margin: 10px;

    background-image: url("../media/logo.png");
    background-repeat: no-repeat;
    background-size: 30px 30px;
}

header h1 {
    font-family: RobotoCondensed-Regular;
    font-size: 20px;
}

main h1 {
    font-family: RobotoCondensed-Bold;
}

form {
    display: flex;
    flex-direction: column;
    font-family: RobotoCondensed-Regular;
}

button {
    font-weight: bold;
    margin-top: 10px;
    width: 300px;
    height: 35px;
}