body {
    display: flex;
    flex-direction: column;
}

.login_register_main {
    height: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h2 {
    font-family: RobotoCondensed-Regular;
    font-size: 18px;
}

main h1 {
    font-family: RobotoCondensed-Bold;
    font-size: 35px;
    margin: -90px 0px 50px 0px;
}

form {
    display: flex;
    flex-direction: column;
    font-family: RobotoCondensed-Regular;
}

form input {
    margin-bottom: 10px;
    height: 20px;
}

label {
    font-size: 18px;
}

button {
    font-size: 16px;
    width: 300px;
    height: 40px;
}

#ready,
#magic_start {
    text-align: center;
    font-family: RobotoCondensed-Regular;
    font-size: 14px;
    margin: 15px 0px;
}

.wrong_password {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    height: 28px;
}

#account_already,
#register_now {
    text-decoration: underline;
    text-align: center;
    font-size: 18px;
    margin-top: 50px;
}