.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.status_box {
    font-family: RobotoCondensed-Light;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.status_box button {
    font-family: RobotoCondensed-Regular;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #2d2d2d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.login_register_statusBox {}

.quiz_statusBox {
    background-color: #e1423c;
    /*#e1423c
    #4ec0bd
    */
}

.contacting_serverBox {}