.quiz_main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

#profile_bar {
    height: 40px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-family: RobotoCondensed-Regular;
}

#logout_button {
    width: 60px;
    height: 30px;
}

#signed_in_user {
    margin: 5px 10px;
}

#quiz_container {
    width: 300px;
    margin: 40px;
}

.bg_img {
    background-image: url("../media/logo.png");
    background-size: 300px 300px;
    background-repeat: no-repeat;
    background-position: center;
}

#quiz_image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 3px;
}

#quiz_options {
    width: 100%;
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

#quiz_options button {
    width: 100%;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}